dms2dec
exputil

astropy==8.0.1
Cartopy==0.25.0
ephem==4.2.1
geopy==2.5.0
matplotlib==3.11.1
networkx==3.6.1
numpy==2.5.1
sgp4==2.27
statsmodels==0.14.6
git+https://github.com/snkas/exputilpy.git@v1.6
git+https://github.com/snkas/networkload.git@v1.3
